
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto';
    color: var(--accent);
}

:root {
    --base: #fff5e0;
    --accent: #1a0b08;
    --accent2: #d34c2d;
    --sub: #e3dfdc;
    --lightText: rgba(0, 0, 0, 0.7);
}


.container {
    display: grid;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    grid-template: 200px 1fr / 250px 1fr;
    grid-template-areas: 
    "dashboard header"
    "dashboard content"
}

.content {
    grid-area: content;
    background: var(--sub);
}

#dashboard-top{
    font-size: 36px;
    gap: 0.2em;
    padding:8px 0px;
    margin-top: 5px;
}

.dashboard {
    background-color: var(--base);
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--accent);
}

.dashboard-item {
    display: flex;
    gap: 1em;
    font-size: 20px;
    padding: 8px 10px 8px 10px;
    font-weight: 900; 
    align-content: center;
}

.icon {
    color: var(--accent);
    margin-left: 10px;
    
}

.header {
    grid-area: header;
    grid-template: 1fr 1.4fr / 1.6fr 1fr;
    /* grid-template-areas:
    "searchbar account-notifications"
    "greeting acction-buttons" */
}

.header-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 3rem;
}

.searchbar > input{
    width: 80%;
    height: 40%;
    align-self: center;
    border: none;
    border-radius: 15px;
    background-color: var(--sub);
}

.account-notifications{
    min-height: 56px;
    color: var(--accent);
    gap: 30px;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 900;
    justify-content: flex-end;
    padding-right: 3rem;

}

.avatar{
    height: 50%;
}


.greeting {
    min-height: 84px; /* somehow allows me to scale image to container height using a %*/
    justify-content: flex-start;
    padding-left: 3rem;
}

.greeting > img {
    height: 75%;
}
.greeting-text{
    font-size: 28px;
    color: var(--accent);
    display: flex;
    flex-direction: column;
}

span{
    font-size: 24px;
}

.smalltext{
    font-size: 18px;
}

.buttons-container{
    justify-content: flex-end;
    padding-right: 3rem;
    gap: 1.5rem;
}

.action-button{
    all:unset;
    width: clamp(70px, 18%, 100px);
    background-color: #d34c2d;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    color: var(--base);
    font-weight: 900;
    text-align: center;
}

.content{
    grid-template: auto auto / 1fr 0.5fr;
    grid-template-areas:
    "Projects Side"
    "Projects Side"
}

.projects-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 15px;
    grid-area: Projects;
    max-width: 800px;
    height: 100%;
}
.projects-header,
.announcements-header,
.trending-header {
    font-size: 24px;
    padding-left: 5px;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:25px;
    padding-top: 10px;
    
}

.project {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--lightText);
    height: 240px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 25px;
    background: linear-gradient(90deg, var(--base), var(--base) 3%, white, white 2%);
  }

.project-title,
.announcement-title {
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 2px;
    color: var(--accent);
}

.project-actions{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 5px;
}

.side{
    margin-left: 15px;
    grid-area: Side;

}

  .announcements{
      grid-area: Announcements;
      padding: 20px 15px 20px 5px;
      
  }

  .announcements-container{
    background: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 25px;
  }


  .announcement{
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      margin-right: 15px;
      padding: 15px 0px 15px 0px;
      color: var(--lightText);
  }

  .middle-announcement{
    border-top: solid 0.2px var(--lightText);
    border-bottom: solid 0.2px var(--lightText);
  }



  .trending{
      grid-area: Trending;

  }

  .trends-container{
    background: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 25px;

  }