
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    --base: #fff5e0;
    --accent: #1a0b08;
    --accent2: #d34c2d;
    --sub: #e3dfdc;
}


.container {
    display: grid;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    grid-template: 200px 1fr / 250px 1fr;
    grid-template-areas: 
    "dashboard header"
    "dashboard content"
}

.content {
    grid-area: content;
    background: var(--sub);
}

#dashboard-top{
    font-size: 36px;
    gap: 0.2em;
    padding:8px 0px;
    margin-top: 5px;
}

.dashboard {
    background-color: var(--base);
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--accent);
}

.dashboard-item {
    display: flex;
    gap: 1em;
    font-size: 20px;
    padding: 8px 10px 8px 10px;
    font-weight: 900; 
    align-content: center;
}

.icon {
    color: var(--accent);
    margin-left: 10px;
    
}

.header {
    grid-area: header;
    grid-template: 1fr 1.4fr / 1.6fr 1fr;
    /* grid-template-areas:
    "searchbar account-notifications"
    "greeting acction-buttons" */
}

.header-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 3rem;
}

.searchbar > input{
    width: 80%;
    height: 40%;
    align-self: center;
    border: none;
    border-radius: 15px;
    background-color: var(--sub);
}

.account-notifications{
    min-height: 56px;
    color: var(--accent);
    gap: 30px;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 900;
    justify-content: flex-end;
    padding-right: 3rem;

}

.avatar{
    height: 50%;
}


.greeting {
    min-height: 84px; /* somehow allows me to scale image to container height using a %*/
    justify-content: flex-start;
    padding-left: 3rem;
}

.greeting > img {
    height: 75%;
}
.greeting-text{
    font-size: 28px;
    color: var(--accent);
    display: flex;
    flex-direction: column;
}

span{
    font-size: 24px;
}

.smalltext{
    font-size: 18px;
}

.buttons-container{
    justify-content: flex-end;
    padding-right: 3rem;
    gap: 1.5rem;
}

.action-button{
    all:unset;
    width: clamp(70px, 18%, 100px);
    background-color: #d34c2d;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    color: var(--base);
    font-weight: 900;
    text-align: center;
}